.gist {
  margin: 10px;
}

.gist__detail {
  font-size: 0.8rem;
  color: gray;
  margin-left: 20px;
}

.header {
  width: 100%;
  text-align: center;
  background-color: azure;
  padding: 5px;
}

main {
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gists-section {
  height: 90%;
  overflow: auto;
  margin-bottom: 20px;
}

.insert-btn {
  display: block;
  width: 100px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.insert-btn {
  width: 60vw;
}

.settings-btn {
  margin-left: 5vw;
}
